body {
  
  background-image: url("snow.gif");
  background-repeat: no-repeat;
  background-size: 99vw 99vh;
  
  background-color: black;
  color: white;
  
}

#bodyBackDiv {

  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;

}

#headerDiv {

  z-index: 2;
  height: 33.33%;
  font-size: calc(12px + 2vh);

}

#IG {

  z-index: 2;
  width:calc(30px + 5vw);

}
#IG:hover {

  cursor: pointer;

}

#YT {

  z-index: 2;
  width:calc(30px + 5vw);
  
}
#YT:hover {

  cursor: pointer;

}
