body {
  
  background-color: black;
  color: white;
  
}

#bodyDiv {

  background-image: url("snow.gif");
  background-repeat: no-repeat;
  background-size: 99vw 99vh;

  opacity: 0.5;
  
}

#IG {

  width:calc(30px + 5vw);

}
#IG:hover {

  cursor: pointer;

}

#YT {

  width:calc(30px + 5vw);
  
}
#YT:hover {

  cursor: pointer;

}
